
.allList{
    height: 849px;
    background-color:#424242; 
    min-height:100%
}



.list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px 30px;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
    top: 150px;
    background-color:#424242; 
}